<div id="dashboard">
    <headers />
    <div class="title-header pt-5 pb-3">
        <h1>HEADING 1</h1>
        <p>Đây là nội dung mô tả thêm</p>
    </div>
    <adv />
    <div class="list-product">
        <div class="container">
            <div class="row">
                <div @click="goUpload('compress-image')" class="col col-3 p-2">
                    <card title="Compress IMAGE"
                        text="Compress JPG, PNG and GIFs white saving space and maintaining quality">
                        <i class="material-icons card-img-top w-100">control_camera</i>
                    </card>
                </div>
                <div @click="goUpload('resize-image')" class="col col-3 p-2">
                    <card title="Resize IMAGE"
                        text="Define your dimensions by percent or pixel and resize your JPG, PNG and GIF images">
                        <i class="material-icons">photo_size_select_large</i>
                    </card>
                </div>
                <div @click="goUpload('crop-image')" class="col col-3 p-2">
                    <card title="Crop IMAGE"
                        text="Crop JPG, PNG and GIFs with ease Choose pixels to define your rectangle or use our visual editor">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('convert-to-jpg')" class="col col-3 p-2">
                    <card title="Convert to JPG"
                        text="Turn PNG, GIF, TIF or RAW format imagges to JPG in bulk with ease">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('convert-from-jpg')" class="col col-3 p-2">
                    <card title="Convert from JPG"
                        text="Turn JPG images to PNG and GIF. Choose saveral JPGs to create an animated GIF in seconds">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('photo-editor')" class="col col-3 p-2">
                    <card title="Photo editor"
                        text="Spice up your pictures with text effects frames or tickers. Simple editing tools for your image needs">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('wartermark-image')" class="col col-3 p-2">
                    <card title="Watermark IMAGE"
                        text="Stamp an image or text over your images in seconds. Choose the typography transparency and position">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('meme-generator')" class="col col-3 p-2">
                    <card title="Meme generator"
                        text="Create your memes online with ease. Caption meme images or upload your pictures to make custom memes.">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('rotate-image')" class="col col-3 p-2">
                    <card title="Rotate IMAGE"
                        text="Rotate many images JPG, PNG or GIF at same time. Choose to rotate only landscape or portrait images!">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
                <div @click="goUpload('html-to-image')" class="col col-3 p-2">
                    <card title="HTML to IMAGE"
                        text="Convert webpages in HTML to JPG or SVG. Copy and paste the URL of the page you want and convert it to IMAGE with a click">
                        <i class="material-icons">crop</i>
                    </card>
                </div>
            </div>
        </div>
    </div>
    <adv />
    <div class="about w-100 pt-5 pb-3 float-left">
        <div class="container">
            <div class="row">
                <div class="col col-4 p-2">
                    <card title="Card title"
                        text="Some quick example text to build on the card title and make up the bulk of the card's content.">
                    </card>
                </div>
                <div class="col col-4 p-2">
                    <card title="Card title"
                        text="Some quick example text to build on the card title and make up the bulk of the card's content.">
                    </card>
                </div>
                <div class="col col-4 p-2">
                    <card title="Card title"
                        text="Some quick example text to build on the card title and make up the bulk of the card's content.">
                    </card>
                </div>
            </div>
        </div>
    </div>
    <footers />
</div>