<div class="upload">
    <heading :title="$route.query.feature" text="Đây là nội dung mô tả thêm" />
    <div class="container">
        <div class="card mb-5">
            <div class="card-header">
                <b>Select image</b>
            </div>
            <div class="card-body">
                <b>Upload image from your computer...</b>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input @change="handleInputFile" type="file" class="custom-file-input" id="image-data"
                            accept="image/*">
                        <label class="custom-file-label clear-browse" for="image-data">
                            {{file_name}}
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-colum justify-content-center">
                    <b>OR paste image url: </b>
                    <b v-if="is_img_url_not_valid" class="text-danger">Image url not invalid</b>
                </div>
                <input v-model="link_src" type="text" class="form-control text-center"
                    placeholder="Type your image url here...">
                <p>Supported image types: GIF, JPG, PNG, BMP, WebP, APNG, FLIF, MNG</p>
                <p>Max file size: 35MB</p>
                <img :src="image_preview_src" width="100">
            </div>
            <div class="card-footer">
                <button @click="doUpload" class="btn btn-primary">Upload!</button>
            </div>
        </div>
    </div>
</div>